# DB del microservicio
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=admin

# Syntage
SYNTAGE_API_URL=https://api.sandbox.syntage.com
SYNTAGE_API_KEY=

# Webhook signing
SYNTAGE_WEBHOOK_SIGNING_SECRET=

# Tolerancia para validar timestamp del webhook
SYNTAGE_WEBHOOK_TOLERANCE=300

# AITAX
AITAX_INTERNAL_API_URL=http://localhost:8000
AITAX_INTERNAL_API_TOKEN=

# Redis
REDIS_URL=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=False

# Entorno
ENVIRONMENT=local
DEBUG=true